*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header and nav style */
.header{
    background: #FFF8F3;
    background-image: url("../developer-portfolio/images/header_bg.png"), url("../developer-portfolio/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.text-primary{
    color: #FD6E0A;

}
.btn-primary{
    font-weight: 700;
font-size: 20px;
color: #FFFFFF;
padding: 18px 35px;
height: 64px;
background-color: #FD6E0A;
border: 0;
border-radius: 5px;

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* bannar style */
.bannar{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.bnt-tit{
    font-weight: 700px;
    font-size: 85px;

}
.bnt-sub-tit{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 45px;
}
.bn-disc{
    font-size: 18px;
    margin-bottom: 30px;
}

/* section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
        margin-top: 130px;
        background: #FFF8F3;
        border-radius: 10px;
        padding: 130px 150px;
        
        text-align: center;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
}
.discription{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-info-continer{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    font-size: 20px;
}
.info-discription{
    color: #474747;
    font-size: 20px;
}
/* my skills style */
.my-skills{
    margin-top: 130px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-title{
    font-weight: 700px;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-descriptoin{
    color: #757575;
}
.section-title{
    text-align: center;
    

}
.work{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #757575;  
}
.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}

/* Resume style */
.resume-title{
    font-size: 35px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 113px;
}
.resume-contant{
    display: flex;
}
.resume-all{
    margin-right: 71px;
}
.resume{
    margin-top: 60px;
    
}
.value{
    margin-bottom: 30px;
    font-size: 30px;
}
.value-title{
    font-size: 25px;
    margin-bottom: 10px;
}
.date{
    font-size: 20px;
    margin-bottom: 20px;
}